@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;500;700;900&family=Yellowtail&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(90deg, rgba(15,14,14,1) 0%, rgba(24,0,51,1) 100%);
  font-family: "Roboto", sans-serif;
}

h1,h2{
  color: #fff;
  font-weight: 500;
  font-size: 32px;
}

p{
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 35px;
}

a{
  text-decoration: none;
  color: unset;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

button:hover{
  cursor: pointer;
}

section,footer{
  padding: 30px 0;
}

::-webkit-scrollbar{
  width: 10px;
  background: #343444;
}

::-webkit-scrollbar-thumb{
  border-radius: 32px;
  background: linear-gradient(-45deg, #E250E5, #4B50E6, #E250E5, #4B50E6);
}
